
// Variables
    // Couleurs Principales
    $primaryColor: #9356DC;
    $secondaryColor: #FF79DA;
    $thirdColor: #99E2D0;

// Couleurs Neutres
    $greyDark: #353535;
    $greyMid: #dedede;
    $greyBright: #f7f7f7;

// Couleur Spécifiques 

    $gradient: linear-gradient(to bottom, $secondaryColor, $primaryColor);