@import url("https://fonts.googleapis.com/css2?family=Shrikhand");
@import url("https://fonts.googleapis.com/css2?family=Roboto");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500");
* {
  box-sizing: border-box; }

.func__rules__step, .resto .resto__sectionCard article {
  box-shadow: 2px 5px 10px 0px #dedede; }

/* Start GLOBAL */
html {
  font-size: 62.5%; }

body {
  font-family: "Roboto";
  font-size: 5vw; }
  body h1, body h2, body h3 {
    font-size: 6vw;
    font-weight: 800;
    margin: 0; }
  body a {
    text-decoration: none;
    color: black;
    font-size: 80%; }
  body ul, body ol {
    list-style-type: none; }
  body label {
    position: absolute;
    left: -1999px; }
  body img {
    width: 100%; }

/* End GLOBAL */
.header__back-btn {
  display: none; }

.header__logo {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center; }
  .header__logo a {
    width: 42%; }
    .header__logo a img {
      width: 100%;
      margin: 23px 0 12px 0; }

.enteteMain {
  background-color: #f7f7f7; }

.enteteMain__loca {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  box-shadow: inset 5px 15px 6px -14px #a0a0a0;
  background-color: #dedede;
  width: 100%;
  padding: 15px; }
  .enteteMain__loca a {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 45%;
    font-size: 16px;
    color: #353535;
    font-weight: 600;
    margin-left: 20px; }
    .enteteMain__loca a i {
      position: relative;
      right: 10px; }

.enteteMain__present {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .enteteMain__present h1 {
    margin: 35px 30px 0 30px;
    font-weight: 800; }
  .enteteMain__present p {
    margin: 18px 15px;
    color: #757575; }
  .enteteMain__present .enteteMain__btn {
    border: none;
    background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
    border-radius: 50px;
    padding: 15px 20px;
    margin: 15px 0 50px 0;
    color: white;
    box-shadow: 2px 5px 10px 0px #b6b6b6; }
    .enteteMain__present .enteteMain__btn:hover {
      background-image: linear-gradient(to bottom, #fb74d5, #ad79ed);
      box-shadow: 2px 7px 10px 0px #a0a0a0;
      transition: all 0.3s; }

.func {
  padding: 30px 20px 50px 20px; }
  .func h2 {
    margin-bottom: 20px; }
  .func .func__rules {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center; }

.func__rules__step {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  width: 95%;
  background-color: #f7f7f7;
  margin-bottom: 20px;
  border-radius: 25px; }
  .func__rules__step:last-child {
    background-color: #eee2ff; }
    .func__rules__step:last-child i {
      color: #9356DC;
      margin-left: 8px; }
  .func__rules__step span {
    position: relative;
    top: 3px;
    right: 10px;
    background-color: #9356DC;
    color: white;
    font-size: 14px;
    padding: 4px 8px;
    border-radius: 50%; }
  .func__rules__step i {
    margin: 28px 20px 28px 8px;
    color: #757575; }
  .func__rules__step p {
    font-size: 16px;
    font-weight: 800; }

.resto {
  background-color: #f7f7f7;
  padding: 30px 20px 50px 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start; }
  .resto h2 {
    margin: 25px 0 18px 0; }
  .resto .resto__sectionCard {
    width: 100%; }
    .resto .resto__sectionCard article {
      background-color: white;
      border-radius: 15px;
      margin-bottom: 17px;
      height: 240px; }
      .resto .resto__sectionCard article a {
        width: 100%;
        height: 100%; }
      .resto .resto__sectionCard article:nth-child(2) img {
        object-position: 50% 60%; }
      .resto .resto__sectionCard article:nth-child(3) #popNew {
        display: none; }
      .resto .resto__sectionCard article:nth-child(4) #popNew {
        display: none; }
      .resto .resto__sectionCard article .resto__card_ill {
        height: 70%;
        position: relative;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: flex-end; }
        .resto .resto__sectionCard article .resto__card_ill img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: bottom;
          border-radius: 15px 15px 0 0; }
        .resto .resto__sectionCard article .resto__card_ill #popNew {
          width: 77px;
          border-radius: 2px;
          background-color: #99E2D0;
          color: #07916e;
          font-size: 14px;
          font-weight: 500;
          padding: 7px 11px;
          margin-top: 15px;
          margin-right: 15px;
          position: absolute; }
      .resto .resto__sectionCard article .resto__card__info {
        position: relative;
        height: 30%;
        font-size: 16px;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
        padding: 10px 0 10px 14px; }
        .resto .resto__sectionCard article .resto__card__info div:first-child {
          width: 80%;
          margin: 5px 0 15px;
          display: flex;
          flex-flow: column wrap;
          justify-content: space-around;
          align-items: flex-start;
          flex-direction: column;
          justify-content: space-around; }
          .resto .resto__sectionCard article .resto__card__info div:first-child h3, .resto .resto__sectionCard article .resto__card__info div:first-child p {
            line-height: 1.2em;
            font-size: 17px;
            margin: 0; }
        .resto .resto__sectionCard article .resto__card__info #like {
          visibility: hidden;
          margin: 15px; }
        .resto .resto__sectionCard article .resto__card__info button {
          transform: scale(1, 1.2);
          background-color: #ffffff;
          border: 1px solid #ffffff;
          color: black;
          font-weight: 50;
          font-size: 20px;
          position: absolute;
          right: 20px; }

footer {
  background-color: #353535; }
  footer .header__logo {
    justify-content: flex-start;
    color: white; }
    footer .header__logo img {
      width: 25%;
      margin: 20px 0 8px 15px;
      filter: invert(1); }
  footer nav {
    margin-left: 15px;
    color: white; }
    footer nav ul {
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;
      margin: 0;
      padding-left: 0;
      padding-bottom: 30px; }
      footer nav ul li {
        margin-bottom: 5px; }
        footer nav ul li i {
          font-size: 4vw;
          margin-right: 5px; }
        footer nav ul li .fa-handshake-angle {
          margin: 0; }
        footer nav ul li a {
          font-size: 3.5vw;
          color: white; }
          footer nav ul li a:hover {
            text-decoration: underline; }

@media only screen and (min-width: 425px) {
  body {
    background-color: #220b7e47;
    font-size: 16px; }
    body h1, body h2, body h3 {
      font-size: 25px; }

  .enteteMain .enteteMain__btn {
    font-size: inherit; }

  .resto .resto__sectionCard article .resto__card_ill img {
    object-position: 50% 70%; }

  footer nav ul li i {
    font-size: 16px; }
  footer nav ul li a {
    font-size: 16px; } }
@media only screen and (min-width: 605px) {
  body {
    background-color: #ffffff; }

  .header__logo {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center; }
    .header__logo a {
      width: 350px; }
      .header__logo a img {
        width: 100%;
        margin: 23px 0 12px 0; }

  .resto .resto__sectionCard {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: baseline;
    gap: 2vw; }
    .resto .resto__sectionCard article {
      margin: 0 0;
      width: 48.9%; }

  footer .header__logo img {
    width: 153px; } }
@media only screen and (min-width: 881px) {
  .header__logo img {
    margin: 23px 0 12px 23px; }

  .enteteMain__box-present {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 40px 30px 0;
    gap: 30px; }
    .enteteMain__box-present .enteteMain__present {
      box-shadow: 2px 5px 10px 0px #dedede;
      border-radius: 25px;
      width: 60%;
      height: 365px;
      background-color: white; }
      .enteteMain__box-present .enteteMain__present h1 {
        font-size: 25px; }
      .enteteMain__box-present .enteteMain__present a {
        font-size: 16px; }
    .enteteMain__box-present .func {
      box-shadow: 2px 5px 10px 0px #dedede;
      border-radius: 25px;
      width: 35%;
      padding-bottom: 10px;
      background-color: white; }
      .enteteMain__box-present .func .func__rules {
        width: 100%;
        font-size: 16px; }
        .enteteMain__box-present .func .func__rules .func__rules__step p {
          font-size: 14px; }

  .resto {
    padding: 0 30px 30px; }
    .resto .resto__sectionCard article {
      height: 400px; } }

/*# sourceMappingURL=style.css.map */
