*{box-sizing: border-box;}

//Mixins
@mixin googleFonts($font){
    @import url('https://fonts.googleapis.com/css2?family=#{$font}');
}

@mixin position-el($type,$top,$right,$bottom,$left){
    position: $type;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin baseFlexB($f-flow,$justify-c,$align-i){
    display: flex;
    flex-flow: $f-flow;
    justify-content: $justify-c;
    align-items: $align-i;
}

// Variables
    // Couleurs Principales
        $primaryColor: #9356DC;
        $secondaryColor: #FF79DA;
        $thirdColor: #99E2D0;

    // Couleurs Neutres
        $greyDark: #353535;
        $greyMid: #dedede;
        $greyBright: #f7f7f7;


// Fonts Use
@include googleFonts("Shrikhand");
@include googleFonts("Roboto");
@include googleFonts ("Roboto:wght@900");
@include googleFonts ("Roboto:wght@700");
@include googleFonts ("Roboto:wght@500");

// placeholders

%shadowBox{
    box-shadow: 2px 5px 10px 0px rgb(222, 222, 222);
}


/* Start GLOBAL */

html{font-size: 62.5%;}

body{
    font-family: "Roboto";
    font-size: 5vw;
    
    h1, h2, h3{
        font-size: 6vw;
        font-weight: 800;
        margin: 0;
    }

    a{
        text-decoration: none;
        color: black;
        font-size: 80%;
    }

    ul, ol{list-style-type: none;}
    
    label{position:absolute ; left :-1999px}

    img{
        width: 100%;
    }
}

/* End GLOBAL */

// Start Mobile Version - BODY

.page_loader{
    position: fixed;
    inset: 0;
    z-index: 1;
    background-color: $primaryColor;
    height: 100vh;
    opacity: 0.97;
    animation: loader 3s 4s both;
}

@keyframes loader {
    from {
        opacity: 0.97;
    }

    to {
        opacity: 0;
    }
}

// Start Header

.header__back-btn{
    display: none;
}

.header__logo{
    @include baseFlexB(row wrap,center, center);
    a{
        width: 42%;
        img{
            width: 100%;
            margin: 23px 0 12px 0;
        }
    }
}

// End Header

// Start Main
// Start enteteMain
.enteteMain{
    background-color: $greyBright;
}

.enteteMain__loca{
    @include baseFlexB(row wrap, center, center);
        box-shadow: inset 5px 15px 6px -14px #a0a0a0;
        background-color: $greyMid;
        width: 100%;
        padding: 15px;
        a{
            @include baseFlexB(row wrap,center, center);
            width: 45%;
            font-size: 16px;
            color: $greyDark;
            font-weight: 600;
            margin-left: 20px;
            i{
                position: relative;
                right: 10px;
            }
        }
    }
    
    .enteteMain__present{
        @include baseFlexB(column wrap, center, center);
        text-align: center;
        h1{
            margin: 35px 30px 0 30px;
            font-weight: 800;
        }
        
        p{
            margin: 18px 15px;
            color: #757575;
        }
        
        .enteteMain__btn{
            border: none;
            background-image: linear-gradient(to bottom, $secondaryColor, $primaryColor);
            border-radius: 50px;
            padding: 15px 20px;
            margin: 15px 0 50px 0;
            color: white;
            box-shadow: 2px 5px 10px 0px #b6b6b6;
            transform: scale(1);
            transition: transform 400ms;
            &:hover{
                background-image: linear-gradient(to bottom, #fb74d5, #ad79ed);
                box-shadow: 2px 7px 10px 0px #a0a0a0;
                transition: all 0.3s;
                transform: scale(1.10);
            }
        }
    }
    
    // End enteteMain
    
    // Start article func
    .func{
        padding: 30px 20px 50px 20px;
        background-color: white;
        h2{
            margin-bottom: 20px
        }
        .func__rules{
            @include baseFlexB(column wrap, center, center);
        }
    }
    
    .func__rules__step{
        @extend %shadowBox;
        @include baseFlexB(row wrap, flex-start, center);
        width: 95%;
        background-color: $greyBright;
        margin-bottom: 20px;
        border-radius: 25px;
        &:last-child{
            background-color: #eee2ff;
            i{
                color: #9356DC;
                margin-left: 8px;
            }
        }
        span{
            position: relative;
            top: 3px;
            right: 10px;
            background-color: $primaryColor;
            color: white;
            font-size: 14px;
            padding: 4px 8px;
            border-radius: 50%;
        }
        
        i{
            margin: 28px 20px 28px 8px;    
            color: #757575;
        }
        
        p{
            font-size: 16px;
            font-weight: 800;
        }
    }

        // End article func
        
        // Start Section resto
        .resto{
            background-color: $greyBright;
            .resto__block{
                padding: 30px 20px 50px 20px;
                @include baseFlexB (column nowrap, space-between, flex-start);
                
            }
            h2{
                margin: 25px 0 18px 0;
            }
            
            .resto__sectionCard{
                width: 100%;
                
                article{
                    @extend %shadowBox;
                    background-color: white;
                    border-radius: 15px;
                    margin-bottom: 17px;
                    height: 240px;
                    a{
                        width: 100%; 
                        height: 100%;
                    }
                    
                    &:nth-child(2){
                        img{
                            object-position: 50% 60%;
                        }
                    }
                    
                    &:nth-child(3){
                        .popNew{
                            display: none;
                        }
                    }

                    &:nth-child(4){
                        .popNew{
                            display: none;
                        }
                    }
                    
                    .resto__card_ill{
                        height: 70%;
                        position: relative;
                        @include baseFlexB(column wrap, flex-start, flex-end);
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: bottom;
                            border-radius: 15px 15px 0 0;
                        }
                        
                        .popNew{
                            width: 77px;
                            border-radius: 2px;
                            background-color: #99E2D0;
                            color: #07916e;
                            font-size: 14px;
                            font-weight: 500;
                            padding: 7px 11px;
                            margin-top: 15px;
                            margin-right: 15px;
                            position: absolute;
                            
                        }
                    }
                    
                    .resto__card__info{
                        position: relative;
                        height: 30%;
                        font-size: 16px;
                        @include baseFlexB (row wrap, space-between, center);
                        padding: 10px 0 10px 14px;
                        .card__info__title{
                            margin: 5px 0 15px ;
                            @include baseFlexB(column wrap, space-around, flex-start);
                            flex-direction: column;
                            justify-content: space-around;
                            
                            h3, p{
                                line-height: 1.2em;
                                font-size: 17px;
                                margin: 0;
                            }
                            
                        }
                        
                        .like{
                            transform: scale(1, 1.2);
                            background-color: transparent;
                            margin: 0 30px 20px 0;
                            margin-right: 30px;
                            font-weight: 50;
                            font-size: 20px;
                            position: relative;
                            i{
                                position: absolute;
                            }
                            .grad-heart{
                                color: transparent;
                                background-image: linear-gradient(to bottom, $secondaryColor, $primaryColor);
                                background-clip: text;
                                -webkit-background-clip: text;
                                opacity: 0;
                                transition: opacity 200ms;
                                transition-timing-function: cubic-bezier(.17,.67,.83,.67);
                                &:hover{
                                    opacity: 1;
                                }
                            }
                            .nor-heart{
                                opacity: 1;
                                transition: opacity 200ms;
                                transition-timing-function: cubic-bezier(.17,.67,.83,.67); 
                                &:hover{
                                    opacity: 0;
                                }
                            }
                        }

                        

                    }
                }
            }
        }
            
            // End Section resto
            
            // Start Footer
            
        footer{
        background-color: #353535;

            .header__logo{
            justify-content: flex-start;
            color: white;
                img{
                    width: 25%;
                    margin: 20px 0 8px 15px;
                    filter: invert(1);
                }
            }
    
        nav{
            margin-left: 15px;
            color: white;
            ul{
                display: flex;
                flex-flow: column wrap;
                justify-content: space-between;
                margin: 0;
                padding-left: 0;
                padding-bottom: 30px;
                li{
                    margin-bottom: 5px;
                    i{
                        font-size: 4vw;
                        margin-right: 5px;
                    }
                    .fa-handshake-angle{margin: 0;}
                    
                    a{
                        font-size: 3.5vw;
                        color: white;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

// End Footer


// Start Breakpoint Ajust Responsive Mobile

@media only screen and (min-width : 425px) {
    
    //Start GLOBAL Ajust
    body{
        font-size: 16px;
        
        h1,h2,h3{
            font-size: 25px;
        }
    }
    //End GLOBAL Ajust
    
    //Start Main Ajust
    
    
    .enteteMain{
        .enteteMain__btn{
            font-size: inherit;
        }
    }
    
    .resto{
        .resto__sectionCard{
            article{
                .resto__card_ill{
                    img{
                        object-position: 50% 70%;
                    }
                }
            }
        }
    }

// End Main Ajust

//Start Footer Ajust

    footer{
        nav{
            ul{
                li{
                    i{
                        font-size: 16px;
                    }

                    a{
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

// End Breakpoint Ajust Responsive Mobile



// Start Responsive Tablette
    @media only screen and (min-width : 768px) {
        body{
            background-color: #ffffff;
        }
        
        .header__logo{
            @include baseFlexB(row wrap,center, center);
            a{
                width: 315px;
                img{
                    width: 100%;
                    margin: 23px 0 12px 0;
                }
            }
        }

        .func{
            margin: auto;
            max-width: 730px;
            border-radius: 25px;
        }

        .resto{
 
                .resto__sectionCard{
                    @include baseFlexB(row wrap, flex-start, baseline);
                   gap: 2vw;
                   article{
                        margin: 0 0;
                        width: 48.9%;
                    }
                }
        }

        footer{
            .header__logo{
                img{
                    width: 153px;
                }
            }
        }
    }
    
@media only screen and (min-width : 992px) {
            // Start Desktop Responsive


            .func{
                margin: auto;
                max-width: 992px;  

                border-radius: 25px;
                .func__rules{
                    flex-flow: row nowrap;
                    .func__rules__step{
                        margin: 0 20px;
                    }
                }
            }

            //End Desktop Responsive
}


    
    